<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-4">Crear Tarea</h2>

  <div class="mb-4">
      <label for="name" class="block text-sm font-medium text-gray-700">Nombre de la tarea:</label>
      <input id="name" formControlName="name" 
             class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
       @if(taskForm.get("name")?.invalid && taskForm.get("name")?.touched){
        @if(taskForm.get("name")?.hasError("required")){
            <span class="errors text-red-800">El nombre es obligatorio</span>
        }
       }
  </div>

  <div class="mb-4">
      <label for="dueDate" class="block text-sm font-medium text-gray-700">Fecha límite:</label>
      <input id="dueDate" type="date" formControlName="dueDate" 
             class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
             @if(taskForm.get("name")?.invalid && taskForm.get("name")?.touched){
              @if(taskForm.get("name")?.hasError("required")){
                  <span class="errors text-red-800">El nombre es obligatorio</span>
              }
            }
  </div>

  <mat-form-field>
    <mat-label>Gente asignada</mat-label>
    <mat-select id="selectedPeople" formControlName="selectedPeople">
      @for (people of peoples; track people) {
        <mat-option [value]="people.value">{{people.viewValue}}</mat-option>
      }
    </mat-select>
    <mat-error *ngIf="taskForm.get('selectedPeople')?.hasError('required')">People count is required.</mat-error>

  </mat-form-field>

  
  <button type="submit" [disabled]="taskForm.invalid" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600" >Crear tarea</button>
</form>





<div class="border border-gray-300 rounded-md shadow-md p-4 max-w-lg mx-auto">
  <!-- Título de la lista -->
  <div class="border-b border-gray-300 pb-2 mb-4">
    <h1 class="text-lg font-semibold">Lista de Tareas</h1>
  </div>

  <!-- Filtros -->
  <div class="border-b border-gray-300 pb-2 mb-4">
    <p class="text-sm font-medium space-x-4">
      <span class="text-pink-500 cursor-pointer">[Todas]</span>
      <span class="text-pink-500 cursor-pointer">[Completadas]</span>
      <span class="text-pink-500 cursor-pointer">[Pendientes]</span>
    </p>
  </div>

  <!-- Tarea A -->
  
  <div class="border-b border-gray-300 pb-4 mb-4">
    <!-- Lista de tareas -->
    <div *ngFor="let task of tasksList; let index = index" class="flex flex-wrap justify-between items-center">
      <div class="flex items-center space-x-2 w-full sm:w-auto">
        <span class="text-pink-500">[  ]</span>
        <span class="font-semibold truncate max-w-[200px]">{{ task.name }}</span> 
         <span class="text-gray-500 text-sm mt-2 sm:mt-0 w-full sm:w-auto"> {{ task.dueDate }} </span>
      </div>
      <div class="text-gray-500 text-sm mt-2 sm:mt-0 w-full sm:w-auto">
        progreso : {{task.completed}} 
      </div>
    </div>
    <div class="ml-4 mt-2">
      <p class="font-semibold">Personas Asociadas:</p>
      <ul class="list-disc ml-5 text-sm" *ngFor="let persons of person; let index = index" >
        <li class="mt-1">
          {{persons.viewValue}} <span class="text-pink-500">{{persons.age}}</span><br/>
          <span class="text-gray-500">Habilidades: {{persons.skills}}</span>
        </li>
       
      </ul>
    </div>
  </div>
  
</div>
